*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.2em;
    background-color: #fff;
    color: #555;
}

p{
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

hr{
    border: solid 1px;
    color: #f3f3f3;
}
input[type = "text"], input[type ="password"], input[type="search"]{
    color: #5d5d5d;
    width: 60%;
    padding: 8px;
} 
input, textarea{
    outline: none;
    border: none;
    border: solid 1 px #f2f2f2;
}

h1, h2{
    font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: #000;
}

h2{
    font-size: 140%;
}

a,a:hover{
    outline: none;
    text-decoration: underline;
    color: #aeb002;
}

ul{
    margin: 2 px 0 22px 17px;
}
ul li{
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
    line-height: 1.5px;
}

ul{
    margin: 2px 0 22px 17px;
}
ul li{
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
    line-height: 1.5em;

}

.center {
    text-align: center;
}

.header{
    background-color: darkslateblue;/*Цвет фона*/
    font-size: 0.8em;/*размер шрифта*/
    margin-left: 0px;/*внешние отступы слева и справа*/
    margin-right: 0px;
    min-width: 50%;/**/

}

.main, .logo, .menubar, .site_content, .footer{
    margin-left: auto;
    margin-right: auto;
}


.logo{
    width:max-content;/*ширина div с классом logo*/
    padding-bottom: 0px;/*отступ снизу от элемента*/
    text-align: center;
}

.logo h1, .logo h2{
    font:normal 300% 'century gothic', arial, sans-serif;
    margin:  0 0 0 9px;
    
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover{
    padding: 22px 0 0 0;
    color: #fff;
    letter-spacing: 0.1em;/*интервал между символами*/
    text-decoration: none;/*Подчеркивание ссылки, есть-нет*/
    
}

.logo_text h2{
    font-size: 0.9em;
    padding: 4px 0 0 0;
    color: #999;
}

.menubar{
    height: 60px;
    display: flex;
    justify-content: center;

}

ul.menu li{
    display: inline-block;
    padding: 4px 0 0 9px;
    list-style: none;
    margin: 1px 2px 0 0;
    background-color:darkslateblue ;
    text-align: center;
    width: max-content;
    margin-left: auto;
    margin-right: auto;

}

ul.menu li a{
    font: normal 100% 'trebuchet ms', sans-serif;/* */
    display: block;/*превращает неблочный элемент в блочный*/
    height: 20px;
    padding: 6px 35px 5px 28px;
    color: #aeb002;
    text-decoration: none;
    
}

ul.menu li.selected a{
    color: #aeb002;
}

ul.menu li a:hover{/*hover - псевдокласс, меняет цвет при наведении на ссылку*/
    color: #e4ec04;
}

.site_content{
    width: 50%;
    overflow: hidden;/*Скрывает контент за заданной размерностью*/
    margin: 20px auto 0 auto;
    background-color: white;
}

.sitebar_content{
    float: right;  
    width: 25%;
}

.sitebar{
    float: right;
    width: 90%;
    padding: 5px;
    border: solid 1px #f2f2f2 ;/*Рамка вокруг div, solid - тип рамки, толщина, цвет*/
    border-radius: 5%;/*Закругление рамки*/
    background-color: #f9f9f9;
}

.btn {
    padding: 8px;
    background-color: white;
    cursor: pointer;
}

.sitebar h2{
    color: #136cb2;
}

.lables_passreg_text{
    font-size: 0.7em;
    margin-top: 3%;
    margin-left: 2%;

}

.sitebar ul{
    margin: 0;
}

.sitebar ul li{
    list-style-type: none;
    margin: 0 0 0 0;
}

.sitebar .raiting_sitebar{
    float: right;
}

.content{
    text-align: left;
    width: 50%;
    padding: 0 0 0 5px;
    float: left;
}
.content a{
    text-decoration: none;
}

.films_block{
    margin-bottom: 5%;
}
.films_block img{
    border-radius: 5px;
    border: solid 5px #f2f2f2;
    width: 20%;
}

.posts, .post_content{
    font-size: 0.8em;
}

.info_film{
padding: 2px 2px 2px 2px;
}

.info_film .label{
    font-size: 1.2em;
}

.info_film .value{
    font-size: 1em;
    color: #49945a;

}

.description_film{
    margin-bottom: 5%;
}
.description_film img{
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    border: solid 5px  #f2f2f2;
}
.reviews{
margin-bottom: 4%;
font-size: 0.9em;
}
.reviews .review_name{
    background-color: #7268ad;
    color: white;
    padding: 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.reviews .review_text{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.send h3{
    font: normal 100% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 5px 0 5px 0;
    color: #000;
}
.send{
    margin-bottom: 4%;
}

.send input[type = "text"]{
border: solid 1px #c3c3c3;
width: 49%;
margin-bottom: 2%;
border-radius: 5px;
} 

.send input[type = "submit"]{
width: 51%;
background-color: #7268ad;
padding: 2%;
color: white;
border-radius: 5px;
}



.info_film{
    margin-bottom: 10%;
    background-color: #f9f9f9;
    padding: 5%;
    width: 60%;
    height: 270px;
}
.info_film img{
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    border: solid 5px #dad7d5;
    width: 30%;
}

.button{
    background-color: #7268ad;
    padding: 2%;
    color: white;
    border-radius: 5px;
    float:right;
    margin-top: 5px;
    clear: left;
    font-size: 0.8em;
}

.button a{
    color: white;
}

table{
    width: 65%;
    border: solid 1px #f4f4f4;
}
td{
    padding: 2%;
    border: solid 1px #f4f4f4;
}
td img{
    width: 50%;
    vertical-align: middle;
}
.raiting{
    font-weight: bold;
}



.footer{
    width: 100%;
    height: 100px;
    padding: 28px 0 5px 0;
    text-align: center;/*отвечает за расположение текста, в данном случае центр*/
    background-color: darkslateblue;
    color: #a8aa94;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}

.footer a{
    color: #a8aa94;
    text-decoration: none;
}

.footer a:hover{
    color: #fff;
    text-decoration: none;
}

.footer p{
    padding: 0 0 10px 0;
}

/*css Mobile*/
@media only screen and (max-width : 320px) {
      .header{
        min-width: 100%;
        height: 20%;
        text-align: center;
      }
      .logo{
        width: 100%;
      }
      .site_content{
        width: 100%;
      }
      .menubar{
        width: 50%;
        height: 190px;
      }
      .site_content{
        width: 100%;
        text-align: center;
      }
      .sitebar{
        display: none;
      }
      .footer{
        display: none;
      }
      ul .menu{
        float: none;
      }
      ul.menu li{
        margin: 0;
        padding: 0;
        float: none;
      }
      .content{
        width: 100%;
        text-align: center;
      }
      .content iframe{
        width: 100%;
        height: 100%;
      }
      .info_film{
        width: 90%;
        text-align: center;
      }

      .table{
        display: block;
        width: 300px;
      }
      th{
        font-size: 75%;
        
      }
      td{
        padding: 0;
        margin: 0;
        font-size: 80%;

      }
      
      
}
